<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:name="${namespace}.${buildType}.provider.permission"
        android:protectionLevel="signature"/>
<!--    <uses-permission android:name="${namespace}.${buildType}.provider.permission"/>-->

    <application
        android:label="CP/pf2">
        <provider
            android:name=".provider.FinalContentProvider"
            android:authorities="${applicationId}.provider.authority"
            android:enabled="true"
            android:exported="true"
            android:readPermission="${namespace}.${buildType}.provider.permission"/>
    </application>
</manifest>
