<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="CP/Foo">
        <provider
            android:name=".provider.FinalContentProvider"
            android:authorities="test.android.cp.foo.authority.provider"
            android:exported="true"
            android:permission="test.android.cp.permission.provider"/>
    </application>
</manifest>
